server {
	listen 127.0.0.1:8800;
	server_name example.at;
	client_max_body_size 1000;
	root preview/template;
	index index.html;

	location / {
		allow_methods GET POST;
	}
}

server {
	listen 127.0.0.1:8800;
	server_name example.com;
	client_max_body_size 1000;
	root website;
	index index.html;

	location / {
		allow_methods GET POST;
	}
}




