
server {
	listen 127.0.0.1:8800;
	server_name example.de;
	client_max_body_size 1000000;
	root preview;
	index index.html;

	location / {
		allow_methods GET;
	}
	location /post-bin {
		autoindex on;
		allow_methods GET POST DELETE;
	}
}


server {
	listen 127.0.0.1:8801;
	server_name example.de;
	client_max_body_size 1000000;
	root website;
	index index.html;

	location / {
		allow_methods GET POST;
	}
}