server {
	listen 127.0.0.1:7700;
	server_name example.com;
	root /website/;
	index index.html;

	location / {
		allow_methods GET;
	}

	location /post-bin {
		allow_methods POST DELETE;
		client_max_body_size 100;
	}

	location /cgi-bin {
		allow_methods POST;
	}

	rewrite /test index.html;
}

server {
	listen 127.0.0.1:7701;
	server_name example.at;
	client_max_body_size 1000;
	root test_site;
	index index.html;

	location / {
		allow_methods GET POST;
		proxy_pass contact-form;
	}

	location /contact-form {
		allow_methods DELETE;
	}
}